body {
    background-color: grey;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1, p, strong, li {
    color: wheat;
}

section, footer {
    margin-top: 20%;
    background-color: darkslategrey;
}