:root {
    --dark-color: rgb(49, 49, 49);
    --medium-dark-color: rgb(63, 63, 63);
    --light-color: rgb(151, 151, 151);
}

body {
    background-color: var(--dark-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    font-family: "Graduate0", sans-serif;
    background-image: url("../media/Texture.png");
    background-repeat:repeat;
    background-blend-mode: multiply;
}

* {
    scrollbar-width: none;
}

nav {
    top: 50%;
    transform: translateY(-50%);
    right: 10%;
    position: absolute;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.center {
    text-align: center;
    display: block;
}

h1, h2 {
    z-index: 10;
    font-family: Wellfleet;
    margin: 0;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    background: linear-gradient(90deg, var(--medium-dark-color), var(--light-color), var(--dark-color));
    background-size: 400% 400%;
    animation: glow 3s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}

#title {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    font-family: "Martian Mono", monospace;
    position: relative;
    font-weight: 700;
    margin-left: 5%;
    background: linear-gradient(90deg, var(--medium-dark-color), var(--light-color), var(--dark-color));
    background-size: 400% 400%;
    animation: glow 3s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2, p, strong, a {
    color: var(--light-color);
}

.accept-pre {
    white-space: pre-wrap;
}

a {
    z-index: 10;
    font-family: "Graduate0", sans-serif;
    font-style: normal;
    text-decoration: none;
    position: relative;
}

#top-bar-background {
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    width: 100%;
    height: 3em;
    top: 0;
    z-index: 999;
    position: fixed;
}

header {
    background-color: var(--medium-dark-color);
    width: 100%;
    padding: 1em 0;
    top: 0;
    position: fixed;
    text-align: left;
    opacity: 90%;
    z-index: 1000;
}

section div, footer div {
    background-color:  var(--medium-dark-color);
    padding: 2em;
}

nav a, nav a:visited, nav a:link {
    margin: 0 1em;
    font-family: Wellfleet;
    font-weight: bold;
    color: var(--light-color);
}

.wrapper-border {
    margin-top: 10em;
    padding: 3px 0;
    position: relative;
    background: linear-gradient(90deg, var(--medium-dark-color), var(--light-color), var(--dark-color));
    background-size: 400% 400%;
    animation: glow 3s ease infinite;
}

.small-wrapper-border {
    width: 80%;
    transform: translateX(-50%);
    left: 50vw;
    padding: 3px; 
}

.footer-wrapper-border {
    margin-top: 10em;
    padding-top: 3px;
    background: linear-gradient(90deg, var(--medium-dark-color), var(--light-color), var(--dark-color));
    background-size: 400% 400%;
    animation: glow 3s ease infinite;
}


.glowing-line {
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, var(--medium-dark-color), var(--light-color), var(--dark-color));
    background-size: 400% 400%;
    animation: glow 3s ease infinite;
    position: absolute;
    z-index: 1000;
    bottom: 0;
}

@keyframes glow {
    0% {
        -webkit-filter: blur(0px);
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}